@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Source+Sans+3&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: #DCD6F7;
}

p {
    font-family: 'Source Sans 3', sans-serif;
}

.cabecalho {
    background-color: #202124;
    border-bottom: 0.4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 242px;
    height: 180.8px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.277);
}

.cabecalho-menu-item {  
    font-family: 'Source Sans 3', sans-serif;
    color: #DCD6F7;
    margin: 10px;
    padding: 10px;
    transition-duration: 0.8s; 
}

nav > a:hover {
    background-color: #464e5b;
    color: #a49cca;
    border-radius: 5px;
}

main {
    min-width: 600px;
    max-width: 1200px;
    background-color: white;
    margin: auto;
    margin-bottom: -45px;
    padding-top: 70px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.252);
}

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo1 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    color: #202124;
}

.conteudo-principal-escrito-titulo2 {
    font-family: 'Playfair Display', serif;
    margin-top: -15px;
    color: #202124;
}

.conteudo-principal-escrito-paragrafo {
    height: 72px;
    width: 470px;
    font-size: 14px;
    color: #202124;
}

.conteudo-principal-botao {
    margin-top: -20px;
    height: 35px;
    width: 155px;
    padding: 20px;
    border-radius: 5px;
    background-color: #202124;
    text-align: center;

    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    color: #DCD6F7;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-principal-botao a {
    color: inherit;
    text-decoration: none;
}

.conteudo-principal-botao:hover {
    background-color: #464e5b;
    color: #a49cca;
}

.conteudo-secundario {
    margin: 55px auto;
    width: 1100px;
    height: 254px;
    border-top: 0.4px solid #A6B1E1;
}

.conteudo-secundario-paragrafo {
    text-align: center;
    color: #202124;
}

#prgf1 {
    font-family: 'Playfair Display', serif;
    padding: 10px;
}

#prgf2 {
    padding: 10px;
    width: 512px;
    margin: auto;
    font-size: 14px;
}

#prgf3 {
    padding: 22px;
    width: 512px;
    margin: auto;
    border-bottom: 0.4px solid #A6B1E1;
    font-size: 14px;
}

.conteudo-terciario {
    margin: 65px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-terciario-imagens {
    font-family: 'Playfair Display', serif;
    padding: 15px;
    color: #202124;
}

.conteudo-terciario-imagens-secao {
    background-color: #A6B1E1;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.slider {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    width: 545px;
    height: 400px;
    margin-top: 60px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 545px;
}

.manual-navigation {
    position: absolute;
    width: 545px;
    margin-top: -100px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #A6B1E1;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #A6B1E1;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid #A6B1E1;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 545px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #A6B1E1;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #A6B1E1;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #A6B1E1;
}

.conteudo-quaternario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    margin: auto;
}

.conteudo-quaternario-secao1 {
    text-align: center;
    width: 512px;
    margin-bottom: 50px;
}

.conteudo-quaternario-secao1-paragrafo {
    font-family: 'Playfair Display', serif;
    border-top: 0.4px solid #A6B1E1;
    padding: 15px;
    color: #202124;
}

.conteudo-quaternario-secao1-lista {
    font-family: 'Source Sans 3', sans-serif;
    display: flex;
    justify-content: space-around;
    gap: 90px;
    margin-top: 15px;
    list-style: none;
    text-align: center;
}

.conteudo-quaternario-secao1-lista-item a {
    text-decoration: none;
    color: #202124;
}

div#iframe-maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

div#iframe-maps p {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    border-top: 0.4px solid #A6B1E1;
    width: 512px;
    padding: 15px;
    text-align: center;
}

.conteudo-quinario {
    margin-bottom: 45px;
}

.conteudo-quinario-main-title {
    font-size: 28px;
    margin: auto;
    padding-top: 15px;
    width: 512px;
    border-top: 0.4px solid #A6B1E1;
    text-align: center;
}

.conteudo-quinario-faq {
    min-width: 600px;
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: auto;
    padding: 25px;
    text-align: center;
}

.icon {
    width: 24px;
    height: 24px;
}

.conteudo-quinario-subsecao {
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-color: #A6B1E1;
    border-radius: 5px;
    padding: 15px 10px;
    margin: 0px 0px 10px 0px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.178);
}

.conteudo-quinario-subsecao:hover {
    background-color: #b8c4fa;
}

.conteudo-quinario-subsecao h2 {
    margin: 0;
    align-items: center;
}

.conteudo-quinario-subsecao > h1 {
    align-items: center;
}

.conteudo-quinario-subtitle {
    font-size: 20px;
    text-align: left;
    margin-bottom: 60px;
}

.conteudo-quinario-paragrafo {
    background-color: #d4daf5;
    text-align: left;
    margin-top: -12px;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.159);
}

#subsecao-extra {
    margin-top: 50px;
    background-color: #A6B1E1;
    display: flex;
    justify-content: space-evenly;
}

#subsecao-extra:hover {
    margin-top: 50px;
    background-color: #b8c4fa;
    display: flex;
}

.conteudo-quinario-secao7 {
    margin: auto;
    border-top: 0.4px solid #A6B1E1;
    width: 1100px;
}

.conteudo-quinario-secao7-paragrafo {
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-bottom: 45px;
    width: 512px;
    text-align: center;
    font-size: 14px;
}

.conteudo-rodape {
    background-color: #202124;
    border-top: 0.4px solid black;
    height: 180.8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-rodape-paragrafo {
    color: #DCD6F7;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .cabecalho {
        display: block;
        text-align: center;
        height: 331px;
        width: auto;
    }
    
    .cabecalho-menu-item {
        margin-bottom: 5px;
        padding: 0.5px;
    }

    main {
        min-width: 300px;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .conteudo-principal-escrito {
        align-items: center;
    }

    .conteudo-principal-escrito-paragrafo {
        width: 400px;
    }

    .conteudo-principal-botao {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .conteudo-principal img {
        margin-top: 50px;
    }

    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin-bottom: 130px;
    }

    #prgf2 {
        width: 400px;
    }

    #prgf3 {
        width: 400px;
    }

    .conteudo-terciario-imagens-secao {
        height: 420px;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .conteudo-terciario-imagens-secao-item {
        max-width: 100%;
        height: auto;
    }

    .manual-navigation, .manual-btn, .navigation-auto div, .navigation-auto {
        display: none;
    }

    .conteudo-quaternario {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .conteudo-quaternario-secao1 {
        text-align: center;
        width: 400px;
    }

    .conteudo-quaternario-secao1-lista {
        display: block;
    }

    .conteudo-quaternario-secao1-lista-item {
        margin: 10px 0px;
    }

    div#iframe-maps p {
        text-align: center;
        width: 400px;
    }

    div#iframe-maps iframe {
        max-width: 100%;
    }

    .conteudo-quinario-main-title {
        width: 400px;
    }

    .conteudo-quinario-subsecao {
        width: 400px;
    }

    .conteudo-quinario-subtitle {
        padding-left: 5px;
        font-size: 16px;
    }

    .conteudo-quinario-paragrafo {
        padding-left: 20px;
        font-size: 13px;
    }

    .conteudo-quinario-secao7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .conteudo-quinario-secao7-paragrafo {
        width: 400px;
    }

    .conteudo-quinario-faq {
        border-radius: 0px;
        width: 400px;
    }

    .conteudo-quinario-paragrafo {
        border-radius: 0px;
        width: 400px;
    }
}